<head>
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <meta charset="utf-8">
  <title>DW Infografik</title>
  <meta name="description" content="Deutsche Welle.">
</head>

<body>
  <div id="app"></div>
</body>
