.#{$prefix}annotation_text, .#{$prefix}annotation_highlight-text, .#{$prefix}annotation-text-edit {
  @include utility-font;
  display: block;
  font-size: 1.3em;
  line-height: 1.3;
  color: $color-gray-medium;
  padding: 30px;
  @media only screen and (min-width: 420px) {
    width: calc(100% - 100px);
    display: block;
  }
}

/*.#{$prefix}annotation_text, .#{$prefix}annotation_highlight-text {
  
  /*text-shadow: 1px 1px 0px rgba($color-white, 0.7), -1px -1px 0px rgba($color-white, 0.7), -1px 1px 0px rgba($color-white, 0.7), 1px -1px 0px rgba($color-white, 0.7);*/
 /* @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  
    /*text-shadow: 2px 2px 0px rgba($color-white, 0.7), -2px -2px 0px rgba($color-white, 0.7), -2px 2px 0px rgba($color-white, 0.7), 2px -2px 0px rgba($color-white, 0.7);*/
  


.annotation-text-editing {
  .#{$prefix}annotation_text, .#{$prefix}annotation_highlight-text {
    opacity: 0;
  }
}

.#{$prefix}annotation_range {
  opacity: 0.15;
  fill: $color-gray-medium;
  shape-rendering: crispEdges;
  pointer-events: none;
}

.#{$prefix}annotation_range-line {
  opacity: 1;
  stroke: $color-black;
  stroke-width: 2px;
  stroke-linecap: butt;
  shape-rendering: crispEdges;
}

.#{$prefix}annotation-editable-group {
  .#{$prefix}brush {
    .selection {
      shape-rendering: crispEdges;
      stroke-width: 0;
      fill: $color-annotation-mode;
    }
    .handle {
      fill: rgba($color-annotation-mode, 0.8);
      stroke-linecap: butt;
    }
  }
  .#{$prefix}brush-line {
    .handle {
      display: none;
    }
    .selection {
      fill-opacity: 0.7;
    }
  }
  .#{$prefix}text, .#{$prefix}pointer {
    rect {
      fill: $color-white;
      opacity: 0;
    }
  }
}

.#{$prefix}annotation-text-input,
.#{$prefix}annotation-text-edit-box,
.#{$prefix}annotation-text-edit {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.#{$prefix}annotation-text-input {
  position: absolute;
  pointer-events: none;
}

.#{$prefix}annotation-text-edit-box {
  position: absolute;
  pointer-events: all;
  display: inline-block;
  min-width: 10px;
  line-height: 0;
  margin-top: -2px;
  &:focus {
    outline: none;
  }
}

.#{$prefix}annotation-text-edit {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: $color-annotation-mode;
  &:focus {
    outline: rgba($color-annotation-mode, 0.4) solid 1px;
  }
  &:hover {
    cursor: pointer;
  }
  &:empty:before {
    content: 'Hier klicken';
    color: lighten($color-gray-medium, 10%);
  }
  &:focus:empty:before {
    content: 'Tippen…';
  }
}

.#{$prefix}pointer-handle {
  fill: $color-annotation-mode;
  &:hover {
    cursor: pointer;
  }
}

.#{$prefix}pointer-handle_end {
  opacity: 0;
}

.#{$prefix}pointer-handle-path, .#{$prefix}pointer-path {
  fill: none;
  stroke: $color-black;
  stroke-width: 1px;
}

##{$prefix}arrow {
  fill: $color-black;
}

##{$prefix}arrow-editable {
  fill: $color-annotation-mode;
}

.#{$prefix}pointer-handle-path {
  stroke: $color-annotation-mode;
}
