.#{$prefix}axis path {
  display: none;
}

.#{$prefix}axis-group {
  /*transform: translate(0px,0px);*/
}


.#{$prefix}yAxis .#{$prefix}minor line {
/*  stroke: $axis-stroke-color;
  shape-rendering: crispEdges;*/
}

.#{$prefix}yAxis .tick:not(.#{$prefix}minor) line {
  display: none;
}

.#{$prefix}type_bar .#{$prefix}xAxis .#{$prefix}minor line {
/*  stroke: $axis-stroke-color;
  shape-rendering: crispEdges;*/
}

.#{$prefix}type_bar .#{$prefix}yAxis g.tick text{
  transform: translate(7px,32px);
} 


.#{$prefix}type_scatterplot .#{$prefix}yAxis .#{$prefix}minor line {
  stroke: $color-gray-dark;
  shape-rendering: crispEdges;
}

.#{$prefix}axis-group g.tick line {
  opacity: 0;
  &.#{$prefix}muted {
    opacity: 0;
  }
}

.#{$prefix}yAxis g.tick text {
  text-anchor: start !important;
/*für Balkengrafik muss die Achsenbeschriftung nach untern verrusch, unter dem Balken stehen.. */
/* transform: translate(10px,38px);*/
/*Dieser move für PDF Export mit 71 Lines gestapelte Balken*/
/* transform: translate(4px,13px);*/
transform: translate(10px,0px);
}

.#{$prefix}xAxis g.tick line {
  opacity: 0;
}

.#{$prefix}axis-group path {
  shape-rendering: crispEdges;
  stroke: none;
  stroke-width: none;
}

.#{$prefix}axis-group text {
  @include utility-font;
  fill: $color-gray-dark;
}

.#{$prefix}axis-group path {
  shape-rendering: crispEdges;
/*  stroke: $axis-stroke-color;
  stroke-width: $axis-stroke-width;*/
}

.#{$prefix}axis-group .major-tick line  {
/*  display: inline;
  stroke: $axis-stroke-color;
  stroke-width: $axis-stroke-width;*/
}

.last-tick-hide {
  display: none;
}

.#{$prefix}axis-group path.domain {
  display: none;
}

.#{$prefix}zero-line {
  stroke-width: 0px;
  stroke-linecap: square;
}

.#{$prefix}type_scatterplot .#{$prefix}yAxis line,
.#{$prefix}type_scatterplot .#{$prefix}xAxis line {
  opacity: 1;
}
