.#{$prefix}chart_source {
position: relative;
//  background-color: $color-gray-light;
  @include utility-font;
  display: block;
  font-size: 1.3rem;
  line-height: 1.3;
  padding: 30px;
  margin-top: -4px;
  width: 100%;
  


  @media only screen and (min-width: 420px) {
  /*wichtig, für den PNG Export, bitte nicht löschen! */
width: 100% !important;
// background-color: $color-gray-light;
  }


}

.#{$prefix}chart_copyright-text {
position: absolute;
right: 30px;
bottom: 30px;
color: #5C666E;
}
