// heading
.#{$prefix}chart_title {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width: 100% !important;
    box-sizing: border-box;
  color: $color-dunkelblau;
  @include heading-font; //2.3rem
  overflow: hidden;
}

// legend
.#{$prefix}chart_legend {
  padding: 4px 0;
}

.#{$prefix}chart_legend .#{$prefix}legend_item {
  display: inline-block;
  margin-right: 1em;
  @include utility-font;
}

.#{$prefix}chart_legend .#{$prefix}legend_item .#{$prefix}legend_item_icon {
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  border-radius: 0px;
  width: 10px;
  margin-right: 4px;
}

// qualifier
.#{$prefix}chart_qualifier {
box-sizing: border-box;
display: block;
padding-top: 5px;
@include utility-font;
    
    font-size: 1.5rem;
    line-height:1.3;
}

@for $pcounter from 1 through $palette-count {
  $palette: nth( $palettes, $pcounter );
  $palette-name: nth( $palette-names, $pcounter );

  @for $counter from 1 through $series-count-max {
    .#{$prefix + $palette-name} .#{$prefix}chart_legend .#{$prefix}legend_item_#{$counter - 1} .#{$prefix}legend_item_icon {
      background: nth( $palette, $counter );
    }
  }
}
