/*Not displayed at all!*/

.#{$prefix}chart_meta {
visibility: hidden;
/*fill:none;
  position: relative;
  text-align: left;
  width: 100%;
  display: inline-block;
  float: none;
  margin-top: 0;
  @media(min-width: 420px ){
    float: right;
    position: relative;
    width: auto;
    margin-top: 8px;
  }*/
}
.#{$prefix}chart_meta:after {
  visibility: hidden;
  fill:none;
/*  clear: both;
  content: '';
  display: table;*/
}

.#{$prefix}chart_meta_btn {
  visibility: hidden;
  fill:none;
  /*cursor: pointer;
  display: inline-block;
  padding: 0 10px;
  margin-top: 5px;
  text-transform: uppercase;
  @include utility-font;
  font-size: 11px;
  color: $color-gray-medium;
  border-right: 1px solid $color-gray-medium;
  &:hover {
    color: $primary-color;
  }
  @media(min-width: 420px ){
    margin-left: 10px;
    padding: 0;
    border: none;
    margin-top: 0;
  }*/
}
/*.#{$prefix}chart_meta_btn:last-child {
  border-right: none;
}
.#{$prefix}chart_meta_btn:first-child {
  margin-left: 0px;
}*/

.#{$prefix}chart_social {
  visibility: hidden;
  fill:none;
  /*display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  pointer-events: none;
  &.#{$prefix}active {
    pointer-events: auto;
    height: auto;
    opacity: 1;
    transform: translateY(0%);
    display: block;
  }*/
}

.#{$prefix}chart_social_close {
  visibility: hidden;
  fill:none;
/*  position: absolute;
  right: 1.2em;
  top: 1.8em;
  border: 1px solid $color-gray-medium;
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;*/
}

.#{$prefix}chart_social_inner {
  visibility: hidden;
fill:none;
  /*background: $color-white;
  color: $color-black;
  font-size: 1.2em;
  line-height: 1.6em;
  overflow: scroll;
  position: absolute;
  left: 1em;
  right: 1em;
  top: 4em;
  bottom: 4em;
  padding: 1em .25em;
  border: 1px solid $color-gray-medium;
  table {
    border-spacing: 0;
    tr td {
      padding: .5em 2em;
      text-align: right;
      line-height: 1.2em;
    }
  }*/
}

/*
.#{$prefix}chart_social_inner table tr td:nth-child(1) {
  text-align: left;
}

.#{$prefix}chart_social_inner table tr:nth-child(odd) td {
  background: $color-gray-light;
}

.#{$prefix}chart_social_inner table tr:nth-child(1) td {
  background: white;
  color: black;
  font-size: 0.8em;
  border-bottom: 1px solid $color-gray-medium;
}*/

.#{$prefix}chart_social_nav {
  visibility: hidden;
fill:none;
}

.#{$prefix}chart_social_nav .#{$prefix}chart_social_btn {
  visibility: hidden;
fill:none;
}

.#{$prefix}chart_social_nav .#{$prefix}chart_social_btn:hover {
  /*color: $primary-color;
  border: 1px solid $primary-color;
  opacity: 0.6;*/
}

.#{$prefix}chart_social h2 {
visibility: hidden;
fill:none;
}

.#{$prefix}chart_social_options {
/*  position: absolute;
  left: 1em;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  h3 {
    width: 100%;
    text-align: center;
  }*/
}

.#{$prefix}social-icon {
visibility: hidden;
fill:none;
}

.#{$prefix}image-url {
visibility: hidden;
fill:none;
}

.#{$prefix}social-item {
visibility: hidden;
fill:none;
  /*display: inline-block;
  text-align: center;
  width: 18%;
  line-height: 80px;
  margin: 10px;
   a {
    text-decoration: none;
    display: block;
    background: none;
    color: $color-black;
    height: 80px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    transition: opacity 0.5s;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }*/
  /*}*/
}
