.#{$prefix}tip_overlay {
  fill: $color-white;
  opacity: 0;
}

.#{$prefix}tip_box {
  opacity: 0;
  transition: opacity 0.3s;
  &.#{$prefix}active {
    opacity: 1;
  }
}

.#{$prefix}tip_rect {
  fill: none;
}

.#{$prefix}tip_text {
  @include utility-font;
  font-weight: 700;
  fill: $color-dunkelblau;;
}

.#{$prefix}tip_text-x {
  visibility: hidden;
  @include utility-font;
  font-weight: 700;
  fill: $color-dunkelblau;
}

.#{$prefix}tip_line-x {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  &.#{$prefix}active {
    opacity: 1;
  }
  line {
    stroke: $axis-stroke-color;
    stroke-width: $axis-stroke-width;
    shape-rendering: crispEdges;
  }
}

.#{$prefix}tip_line-y {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  &.#{$prefix}active {
    opacity: 1;
  }
  line {
    stroke: $axis-stroke-color;
    stroke-width: $axis-stroke-width;
    shape-rendering: crispEdges;
  }
}

.#{$prefix}tip_circle-xy {
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  &.#{$prefix}active {
    opacity: 1;
  }
}

.#{$prefix}tip .#{$prefix}tip_text-group.#{$prefix}active,
.#{$prefix}tip .#{$prefix}tip_path-circle-group.#{$prefix}active,
.#{$prefix}tip .#{$prefix}tip_path-circle.#{$prefix}active {
  display: block;
  opacity: 1;
}

.#{$prefix}tip .#{$prefix}tip_path-circle-group,
.#{$prefix}tip .#{$prefix}tip_path-circle {
  display: none;
}

.#{$prefix}tip_group text {
  color: $color-dunkelblau;
  text-shadow: none;
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    text-shadow: none;
  }
}

.#{$prefix}tip .#{$prefix}tip_circle {
  stroke: none;
  stroke-width: 0px;
}

@for $pcounter from 1 through $palette-count {
  $palette: nth( $palettes, $pcounter );
  $palette-name: nth( $palette-names, $pcounter );

  @for $counter from 1 through $series-count-max {
    .#{$prefix + $palette-name} .#{$prefix}tip .#{$prefix}tip_path-circle-#{$counter - 1},
    .#{$prefix + $palette-name} .#{$prefix}tip .#{$prefix}tip_circle.#{$prefix}tip_circle-#{$counter - 1},
    .#{$prefix + $palette-name} .#{$prefix}tip .#{$prefix}tip_circle-xy .#{$prefix}tip_circle-xy-#{$counter - 1} {
      fill: #002D5A;
    }
  }

  .#{$prefix + $palette-name} .#{$prefix}tip.#{$prefix}tip_stacked .#{$prefix}tip_path-circle {
    fill: none;
  }
}

.#{$prefix}muted,
.#{$prefix}type_scatterplot .#{$prefix}series_group .#{$prefix}dot.#{$prefix}muted {
  transition: opacity 0.3s;
  opacity: 0.1;
}

.#{$prefix}type_scatterplot .#{$prefix}series_group .#{$prefix}dot.#{$prefix}active {
  transition: opacity 0.3s;
  opacity: 1;
}

.#{$prefix}annotations,
.#{$prefix}annotation_range {
  transition: opacity 0.3s;
}

.#{$prefix}muted.#{$prefix}annotation_range {
  opacity: 0.075;
  transition: opacity 0.3s;
}
