// base styles, resets, etc.

@import "base/normalize";
@import "base/mixins";
@import "base/helpers";

$grid-columns: 24 !global;
$max-width: em(1880) !global;
$border-box-sizing: true !global;

// to keep things from jumping around when a scrollbar becomes necessary
html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
  @include interface-font-regular;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  color: $color-black;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  @include interface-font-regular;
}

h1, h2, h3, h4, h5, h6, strong, b {
  @include interface-font-regular;
  font-weight: normal;
  margin: 0;
  padding-bottom: 0;
}

ul {
  font-size: 1em;
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1em;
  padding-bottom: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.6em;
  padding-bottom: 0;
  margin: 0 0 0.3em 0;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}


section {
 border-radius: 0px !important;
  @include outer-container;
  margin-top: 1.3em;
  margin-bottom: 4em;
}

.expanded {
  height: auto;
  opacity: 1;
}

.collapsed {
  height: 0px;
  opacity: 0;
  display: none;
}
