

.main-area {
  @include span-columns(18, block-collapse);
  padding-right: 1em;
}

.options-area {
  @include span-columns(6, block-collapse);
  border-left: 1px solid $color-gray-dark;
  padding-left: 1em;
  margin-top: 3rem;
}

  .chart-wrapper{
    width: 1450px;
    background-color: $color-gray-light;
  }


.edit-box {
  margin-bottom: 1em;
  h3 {
    border-bottom: 1px solid $color-gray-medium;
    padding-bottom: 0.1em;
    margin: 0 0 0.3em 0;
    cursor: pointer;
    color: #5C666E;
    font-size: 1.5em;
    @include user-select(none);
    @include interface-font-light;
    @include transition (all 0.1s ease-out);
    &:hover {
      color: $primary-color;
      @include transition (all 0.1s ease-in);
      border-color: $primary-color;
    }
  }
  h4 {
    @include interface-font-light;
    font-size: 0.9rem;
    margin: 0.7em 0 0.5em 0;
    color: #5C666E; 
  }
  span {
    color: $color-gray-medium;
  }
}

/*
hier: Alle Auswahlbuttons, des Menüs (gleicher Rahmen, gleiche Farbe, Größe, Abstände)
*/
select {
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
  border: 2px solid $color-gray-medium;
  outline: none;
  color: #5C666E;
  background: transparent;
  padding: 0.2em;
  padding-right: 0.8em;
  &:hover {
    color: $primary-color;
    cursor: pointer;
    border-color: $primary-color;
    @include transition (all 0.1s ease-in);
  }
}


select::-ms-expand {
  display: none;
}
/*hier kann der Hintergrund des Drop-downMenüs eingestellt werden, unsicher warum Schriftart und Schriftgröße sich hier nicht verändern lassen*/
option{
   -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
  background: white;
  padding-right: 1.8em;
}



.input-data-edit {
 height: auto;
  width: 100%;
  display: block;
  border: 2px solid $color-gray-light;
  background-color: $color-gray-light;
  min-height: 14em;
  margin-bottom: 1em;
  width: 100%;
  padding: 0.3em;
   box-sizing: border-box;
  resize: none;
  overflow-y: auto;
  font-size: 0.8em;
    text-align: left;
  tab-size: 20;
  font-family: "Monaco", "Lucida Console", monospace;
  box-sizing: border-box;
  overflow: auto;
  @include transition (all 0.1s ease-out);
  @include placeholder {
  color: $color-gray-medium;
  }
  &:hover {
    background-color: $color-gray-light;
  }
  &:focus {
    outline: none;
  }
}


.x-axis-format-custom {
  margin-top: 0.5em;
  input, p {
    display: inline;
  }
  input {
    width: 70%;
  }
}

.help-x-axis-custom {
  font-size: 1.3em;
}

.time-hours-edit {
  margin-left: 0.6em;
  input {
    margin-top: 0.6em;
  }
}

.date-calculation {
  font-size: 1.2em;
  padding-left: 0.2em;
}

.input-custom-x {
  font-size: 1.3em;
  padding: 0.3em 0.5em;
  width: 50%;
}

.unit-edit {
  margin-bottom: 0.4em;
}

.unit-edit-half {
  width: 48%;
  display: inline-block;
}

.unit-edit-time {
  display: inline-block;
  vertical-align: top;
}

.unit-edit-hide {
  display: none;
}

.radio-buttons {
  input {
    margin-right: 0.4em;
    outline: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
  }
  li {
    text-transform: uppercase;
    font-size: 1em;
    padding-bottom: 0.1em;
    margin-bottom: 0.3em;
    @include interface-font-light;
  }
  .input-border {
    border: 1px solid $color-gray-medium;
    border-radius: 0px;
    height: 1em;
    width: 1em;
  }
  input[type="radio"] {
    border-radius: 0px;
    border: 1px solid $color-gray-medium;
    box-shadow: inset 0px 0px 0px 2px white;
    width: 1em;
    height: 1em;
    margin-bottom: -2px;
    @include appearance(none);
  }
  .input-radio:checked {
    background-color: $primary-color;
  }

  @for $pcounter from 1 through $palette-count {
    $palette: nth($palettes, $pcounter);
    $palette-name: nth($palette-names, $pcounter);

    .input-radio-#{$palette-name}:checked {
      background-color: nth($palette, 1);
    }
  }
}

.input-field {
  @extend %input;
}

.input-index {
  width: 3.6em;
  text-align: center;
}

.x-axisval-edit, .y-axisval-edit {
  .input-field {
    width: 3.9em;
    text-align: center;
    @include placeholder {
      text-transform: uppercase;
    }
  }
}

.x-prefix-edit, .x-suffix-edit, .x-formatval-edit, .y-prefix-edit, .y-suffix-edit, .y-formatval-edit {
  display: inline-block;
  color: #5C666E;
}

.input-prefix-x, .input-suffix-x, .input-prefix-y, .input-suffix-y {
  width: 2.4em;
  text-align: center;
  color: #323C45;
}

.input-ticks-x, .input-ticks-y {
  width: 3.9em;
  text-align: center;
}

.x-formatval-edit, .y-formatval-edit {
  padding: 0 0.4em;
}

.axisval-to {
  font-size: 1.2em;
  padding: 0 0.3em;
}

.chart-preview {
  @include row();
  @include span-columns(12 of 18);
}

.chart-selector{
  border-bottom: 1px solid #5C666E;
    border-bottom-color: rgb(92, 102, 110);
padding-bottom: 0.1em;
margin: 0 0 0.3em 0;  
}

.selector-label {
  padding-bottom: 0;
  font-size: 1.5em;
  margin: 0 0 0.3em 0;
  display: inline-block;
  border: none;
  color: $color-gray-medium;
}

.selector-label {
  @include interface-font-light;
}

.chart-types {
  color: $color-gray-medium;
  margin-left: 2em;
   overflow-y:hidden;
  @include appearance(none);
  @include transition (all 0.1s ease-out);
  &:hover {
    background: transparent;
    cursor: pointer;
    @include transition (all 0.1s ease-in);
  }
}

.chart-preview {
  h5 {
    line-height: 1.9;
    font-size: 1rem;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: $primary-color;
    @include interface-font-black;
    margin-bottom: 20px;
  }
  .chart-wrapper, .preview-container {
    width: 145%;
    background-color: $color-gray-light;
  }
}

.desktop-preview{
  @include span-columns(18 of 18);
}
.mobile-preview{
  @include span-columns(1 of 18);
  visibility: hidden;
}

.chart-error-container {
  background-color: $color-gray-light;
  width: 100%;
  height: 400px;
  .chart-error {
    width: 80%;
    position: relative;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    text-align: center;
  }
  .chart-error_img {
    width: 80px;
    margin-bottom: 20px;
  }
  .chart-error_warning {
    @include interface-font-bold;
  }
}

.output {
  @include row();
  h3 {
    padding-bottom: 0.1em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid $color-gray-medium;
    @include interface-font-light;
  }
}

.export-button {
  margin-bottom: 0.4em;
  font-size: 1.6em;
  color: #5C666E;
  &:focus {
    box-shadow: none;
  }
}

.embed-code {
  margin-bottom: 1em;
  h3 {
    border-bottom: 1px solid $color-gray-medium;
    padding-bottom: 0.1em;
    margin: 0 0 0.3em 0;
    cursor: pointer;
    color: #5C666E;
    font-size: 1.5em;
    @include user-select(none);
    @include interface-font-light;
    @include transition (all 0.1s ease-out);
    &:hover {
      color: $primary-color;
      @include transition (all 0.1s ease-in);
      border-color: $primary-color;
    }
  }
  h4 {
    @include interface-font-bold;
    font-size: 0.9em;
    margin: 0.7em 0 0.5em 0; 
  }
  span {
    color: $color-gray-medium;
  }
}



.export-embed {
  display: block;
  font-family: "Monaco", "Lucida Console", monospace;
  text-align: left;
  background-color: $color-gray-light;
  height: 400px;
  width: 100%;
  padding: 0.3em;
  resize: none;
  font-size: 0.8em;
  border: 2px solid $color-gray-light;
  overflow-y: auto;
  box-sizing: border-box;
  margin-bottom: 1em;
  @include transition (all 0.1s ease-out);
  &:hover {
    background-color: $color-gray-light;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}


.download {
  margin-bottom: 1em;
  h3 {
    border-bottom: 1px solid $color-gray-medium;
    padding-bottom: 0.1em;
    margin: 0 0 0.3em 0;
    cursor: pointer;
    color: #5C666E;
    font-size: 1.5em;
    @include user-select(none);
    @include interface-font-light;
    @include transition (all 0.1s ease-out);
    &:hover {
      color: $primary-color;
      @include transition (all 0.1s ease-in);
      border-color: $primary-color;
    }
  }
  h4 {
    @include interface-font-bold;
    font-size: 0.9em;
    margin: 0.7em 0 0.5em 0; 
  }
  span {
    color: $color-gray-medium;
  }
}

.svg-output > svg {
  display: inline-block;
  background-color: $color-gray-light;
}



.editable-chart_title,
.editable-chart_qualifier,
.editable-chart_source {
  &:hover {
    cursor: text;
    background-color: $color-gray-light;
  }
  &:focus {
    outline: none !important;
    background-color: $color-gray-light;
  }
}

.editable-chart_title {
  &:empty:before {
    content: "Bitte einen Titel angeben";
    color: $color-gray-medium;
  }
}

.editable-chart_qualifier {
  color:color-gray-medium !important;
  &:empty:before {
    content: "Bitte Unterüberschrift hinzufügen";
    color:color-gray-medium !important;;
    @include utility-font;
    font-size: 1.5rem;
  }
}

.#{$prefix}type_bar .#{$prefix}chart_qualifier {
   display: none;
   font-family: "Noto Sans";
    font-size: 1.5rem;
    color:color-gray-dark;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}



.editable-chart_source {
position: relative;
  text-transform: none;
  font-size: 1.3rem;
  line-height: 1.3;
  content: "Bitte hier Quelle angeben";
  color: $color-gray-medium;
  font-family: "Noto Sans";
  &:empty:before {
    text-transform: none;
    line-height: 1.3;
    content: "Bitte eine Quelle angeben";
    color: $color-gray-medium;
    font-family: "Noto Sans";
    font-size: 1.3rem;
  }
}

.#{$prefix}chart_source {
  @media only screen and (min-width: 420px) {
    width: 100%;
  }
}

/*.#{$prefix}chart_copyright-text {
font-size: 1.3rem;
color: $color-gray-medium;
position: absolute;
right: 20px;
}*/

.unit-delete {
  @include appearance(none);
  background: none;
  border: 1px solid $color-red;
  color: $color-red;
  font-size: 1em;
  padding: 0.4em 0.5em 0.45em 0.5em;
  border-radius: 0px;
  margin-top: 0.4em;
  @include transition (all 0.1s ease-out);
  &:hover {
    background-color: $color-red;
    color: $color-white;
    @include transition (all 0.1s ease-in);
  }
}


.annotation-reset {
@include appearance(none);
  background: none;
  border: 1px solid $color-red;
  color: $color-red;
  font-size: 1em;
  padding: 0.4em 0.5em 0.45em 0.5em;
  border-radius: 0px;
  margin-top: 0.4em;
  @include transition (all 0.1s ease-out);
  &:hover {
    background-color: $color-red;
    color: $color-white;
    @include transition (all 0.1s ease-in);
  }
}




.data-download {
  width: 100%;
  margin-bottom: 1.4em;
  font-size: 1.4em;
  margin-top: 0.4em;
  text-align: left;
  cursor: pointer;
    a{
    width: 100%;
    @include appearance(none);
    background: none;
    border: 1px solid $color-gray-medium;
    color: $color-gray-medium;
    font-size: 0.7em;
    padding: 0.4em 0.5em 0.45em 0.5em;
    @include transition (all 0.1s ease-out);
    text-decoration: none;
    &:hover {
      border: 1px solid #00A5FF;
      color: $primary-color;
      @include transition (all 0.1s ease-in);
    }
  }
}

.preview-outer-container {
  position: relative;
  &.preview-inactive {
    pointer-events: none;
    .loading-frame {
      opacity: 1;
      @include transition (all 0.1s ease-in);
    }
  }
  .loading-frame {
    opacity: 0;
    @include transition (all 0.1s ease-out);
  }
}

.loading-frame {
  opacity: 0;
  background-color: rgba($color-white, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.note {
  font-size: 0.8em;
  color: $color-gray-medium;
}

span.note-anno-color {
  color: $color-annotation-mode;
}

.chart-preview-annotation {
  h5 span {
    // float: right;
    color: $color-annotation-mode;
    // vertical-align: bottom;
    font-size: 0.8rem;
    line-height: 1.8;
  }
}

.chart-preview-annotation-highlight {
  rect:hover {
    cursor: url('/images/cursor.cur') 0 15, auto;
  }
}

.chart-preview-annotation-text {
  .#{$prefix}dot:hover,
  .#{$prefix}annotation_text:hover {
    cursor: pointer;
  }
  .#{$prefix}annotation-editable-group:hover {
    cursor: text;
  }
}

.chart-preview-annotation-pointer {
  .#{$prefix}annotations .#{$prefix}pointer-path:hover {
    cursor: pointer;
  }
}

.chart-preview-annotation-range {
  .#{$prefix}annotations .#{$prefix}annotation_range:hover {
    cursor: pointer;
  }
}

.twitter-picker {
  box-shadow: none !important;
  > div {
    padding: 0 !important;
  }
}

.unit-anno h4 {
  padding-bottom: 0.2em;
  border-bottom: 0px solid $color-gray-medium;
  cursor: pointer;
  span {
    color: $color-gray-medium;
  }
  &:hover {
    border-color: $primary-color;
    span {
      color: $primary-color;
    }
  }
}



.current-highlight, .current-ranges, .current-text, .current-pointer {
  p {
    font-size: 0.8em;
    letter-spacing: 0.5px;
    margin-bottom: 0.5em;
  }

  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
    padding-bottom: 0.4em;
    @include row();
    > div {
      display: inline-block;
      vertical-align: top;
    }
  }

  .highlight-color {
    height: 1.25em;
    border-radius: 0px;
    position: relative;
    @include span-columns(1 of 10);
  }

  .highlight-remove {
    @include appearance(none);
    opacity: 0;
    background: none;
    border: none;
    font-size: 1.2em;
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      opacity: 1;
      cursor: pointer;
      color: $color-white;
    }
  }

  .highlight-key {
    @include span-columns(9 of 10);
  }

  .range-item, .text-item, .pointer-item {
    background-color: darken($color-gray-light, 2%);
    padding: 0.4rem 0.5rem;
    position: relative;
    margin-bottom: 0.4rem;
    p {
      margin: 0;
      line-height: 1.3;
    }
    &:hover {
      .range-tools, .text-tools, .pointer-tools {
        opacity: 1;
        pointer-events: all;
        padding-left: 0.5em;
        background-color: darken($color-gray-light, 2%);
        @include transition (all 0.1s ease-in);
      }
    }
  }

  .text-item-selected, .pointer-item-selected, .range-item-selected {
    background-color: lighten($color-annotation-mode, 40%);
    .text-edit, .pointer-edit, .range-edit {
      display: none;
    }
    &:hover {
      .range-tools, .text-tools, .pointer-tools {
        opacity: 1;
        pointer-events: all;
        padding-left: 0.5em;
        background-color: lighten($color-annotation-mode, 40%);
        @include transition (all 0.1s ease-in);
      }
    }
  }

  .text-item p, .range-item p {
    text-transform: none;
    letter-spacing: 0;
    font-size: 0.9rem;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .range-tools, .text-tools, .pointer-tools {
    position: absolute;
    right: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    pointer-events: none;
    @include transition (all 0.1s ease-out);
  }

  .range-remove, .range-edit, .text-remove, .text-edit, .pointer-remove, .pointer-edit {
    height: 1.3rem;
    vertical-align: bottom;
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
      @include transition (all 0.1s ease-in);
    }
  }

  .range-remove, .text-remove, .pointer-remove {
    @include appearance(none);
    background: none;
    border: 1px solid $color-gray-medium;
    border-radius: 0px;
    font-size: 1.2em;
    line-height: 0.7;
    padding: 0 0.2em 0.1em 0.2em;
    margin-left: 0.25em;
  }

  .range-edit, .text-edit, .pointer-edit {
    @include appearance(none);
    background: none;
    border: 1px solid $color-gray-medium;
    border-radius: 0px;
    line-height: 1.2rem;
    padding: 0 0.25em;
    font-size: 0.75rem;
    letter-spacing: 1px;
  }

}

.add-text, .add-range, .add-pointer {
  .note {
    color: $color-gray-medium;
    margin: 0;
  }
  .note, .range-row, .text-row {
    margin-bottom: 0.5em;
  }
  label {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 0.2rem;
  }


  select { 
    -moz-appearance: none;
   -webkit-appearance: none;
     appearance: none;
    text-transform: none;
    padding-right: 1.8em;
    vertical-align: middle;
   }



  .range-row, .text-row {
    @include clearfix;
  }
  .range-row-item, .text-row-item {
    display: inline-block;
    width: 48%;
    float: left;
    ~ .range-row-item, ~ .text-row-item {
      float: right;
    }
    &.muted {
      opacity: 0.2;
      pointer-events: none;
    }
  }
  .range-value {
    pointer-events: none;
    @include user-select(none);
  }
  .editable {
    pointer-events: all;
  }
  input {
    @extend %input;
    width: 100%;
    font-size: 0.9rem;
    background: none;
  }
  button {
    @include appearance(none);
    background: none;
    border: 1px solid $color-gray-medium;
    color: $color-gray-medium;
    font-size: 1em;
    margin-top: 0.3em;
    padding: 0.3em 0.5em 0.35em 0.5em;
    border-radius: 0px;
    @include transition (all 0.1s ease-out);
    text-decoration: none;
    opacity: 0.3;
    pointer-events: none;
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
      @include transition (all 0.1s ease-in);
    }
    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.rc-slider-track {
  background: none !important;
}

.rc-slider-handle {
  border-color: $color-gray-medium !important;
}

.rc-slider-rail {
  background-color: darken($color-gray-light, 20%) !important;
}

// .memo {
//   h4 {
//     @include interface-font-regular;
//     margin-top: 0;
//     padding-left: 0.5em;
//   }
//   .add-memo {
//     @include appearance(none);
//     background-color: $color-gray-light;
//     border: none;
//     color: $color-gray-medium;
//     font-size: 0.8em;
//     padding: 0.4em 0.5em 0.35em 0.5em;
//     width: 100%;
//     text-decoration: none;
//     @include transition (all 0.1s ease-out);
//     &:hover {
//      color: $primary-color;
//       @include transition (all 0.1s ease-in);
//       }
//   }
//   .memo-field {
//     @include appearance(none);
//     background-color: $color-gray-light;
//     width: 100%;
//     resize: vertical;
//     border-radius: 0px;
//     min-height: (3 * 1.4667) * 1em;
//     font-size: 0.75rem;
//     font-family: "Noto Sans";
//     overflow: auto;
//     padding: 0.3em 0.5em;
//     border: none;
//   }
//}
