// export and overlays

.overlay-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba($color-white, 0.975);
  z-index: 1000;
}

.chart-export, .chart-thumbnail, .canvas-container {
  background-color: $color-gray-light;
}

.overlay-container {
  @include outer-container;
  @include span-columns(24);
  margin-top: 6em;
  position: absolute;
  top: 0;
  z-index: 1000;
  h3 {
    border-bottom: 1px solid $color-black;
  }
  button, input {
    opacity: 0.3;
    pointer-events: none;
  }
  &.active {
    button, input {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.overlay-header {
  @include row();
  @include clearfix;
  border-bottom: 2px solid $color-gray-medium;
  margin-bottom: 2em;
  h3, .overlay-close {
    display: inline-block;
  }
  h3 {
    float: left;
    border-bottom: none;
    margin-bottom: 0;
    font-size: 1em;
  }
  .overlay-close {
    @include appearance(none);
    border: none;
    float: right;
    font-size: 2.4em;
    color: $color-black;
    cursor: pointer;
    opacity: 0.3;
    @include interface-font-light;
    @include transition (all 0.1s ease-out);
    @include user-select(none);
    &:hover {
      opacity: 1;
      color: $primary-color;
      @include transition (all 0.1s ease-in);
    }
  }
}

.overlay-web, .overlay-print {
  @include row();
}

.web-export, .print-export {
  h3 {
    font-size: 1em;
    @include interface-font-bold;
  }
  h4 {
    font-size: 0.7em;
    @include interface-font-bold;
  }
  p, select {
    font-size: 0.8em;
  }
  select {
    border-radius: 0px;
  }
}

.web-export-button,
.web-export-submit,
.print-export-button_pdf,
.print-export-button_jpg,
.print-export-mode-button,
.web-export-mode-button {
  @extend %button;
  display: block;
  background: $color-gray-light;
  outline: none;
  border: 1px solid $color-gray-light;
  color: $color-gray-medium;
  margin-bottom: 0.8em;
  font-size: 1.2em;
  &:hover {
    border: 1px solid $primary-color;
  }
}

//Social, Picker oder Custom

.web-export-mode-button {
  @include span-columns(8 of 24);
  font-size: 1em;
  letter-spacing: 1px;
  opacity: 0.8 !important;
  &.active {
    opacity: 1 !important;
    border: 1px solid $color-gray-dark;
  }
}

.web-export-button {
  width: 100%;
}

.web-export-submit-custom {
  pointer-events: none;
  opacity: 0.3;
  &.active {
    pointer-events: auto;
    opacity: 1;
  }
}

.print-export-mode {
  margin-top: 0.5em;
  margin-bottom: 1em;
  @include row();
}

.print-export-mode-button {
  display: inline-block;
  border-radius: 0px;
  padding: 0.3em 0.45em;
  text-align: center;
  margin-right: 0.2em;
  font-size: 1em;
  text-transform: uppercase;
  opacity: 0.2 !important;
  &.active {
    pointer-events: none;
    opacity: 1 !important;
  }
  &:hover {
    opacity: 1;
  }
}

.input-width, .input-height {
  width: 4em;
}

.web-export-submit {
  width: 100%;
  line-height: 1.2;
}

.print-export-preview, .print-export-options, .web-export-preview, .web-export-options {
  h4 {
    font-size: 1em;
    @include interface-font-bold;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 1.2em;
  }
}

.print-export-preview, .web-export-preview {
  @include span-columns(16 of 24);
}

.print-export-options, .web-export-options {
  @include span-columns(8 of 24);
}

.print-export-preview-chart, .web-export-preview-chart {
  @include span-columns(16 of 24);
  height: auto;
  position: relative;
}

.print-export-form, .web-export-form {
  @extend .radio-buttons;
  ul {
    margin-bottom: 1.6em;
    padding-bottom: 1.2em;
    border-bottom: 1px solid $color-gray-medium;
  }
  li {
    margin-bottom: 0.3em;
  }
  input[type="radio"] {
    width: 1.1em;
    height: 1.1em;
    background-color: none;
  }
  label {
    font-size: 1em;
  }
  .input-radio:checked {
    background-color: $primary-color;
    box-shadow: inset 0px 0px 0px 3px white;
  }
  .input-lines {
    margin-top: 0.3em;
    width: 3em;
  }
  h4 {
    text-transform: none;
    @include interface-font-bold;
    font-size: 1em;
    margin: 0.7em 0 0.5em 0;
  }
}

.web-export-form ul {
  border: none;
}

.web-export-field-width, .web-export-field-ratio {
  @include span-columns(6 of 12);
  .select-wrapper, select {
    width: 100%;
  }
}

.web-export-field, .web-export-custom-field {
  h5 {
    @include interface-font-bold;
    padding-bottom: 0.2em;
    margin: 0;
    color: $color-gray-medium;
  }
}

.web-export-row {
  @include row();
  margin-bottom: 0.9em;
}

.web-export-custom-field-width, .web-export-custom-field-height {
  @include span-columns(9 of 24);
}

.web-export-custom-field-scale {
  @include span-columns(6 of 24);
}

.web-export-custom-field {
  input {
    width: 75%;
    margin-right: 0.2em;
    color: $color-gray-medium;
    opacity: 1;
  }
  .select-wrapper, select {
    width: 100%;
  }
}

.web-export-options {
  p {
    font-size: 1em;
    margin: 0;
    margin-bottom: 1em;
  }
  ul {
    margin: 0.2em 0;
  }
  li {
    padding-bottom: 0.2em;
  }
  input {
    position: relative;
    top: -1px;
  }
  label {
    font-size: 1em;
    margin-left: 0.4em;
  }
}

.web-export-option-group {
  margin-bottom: 1em;
}
