// // nichtig, auskommentiert! 
//
// $prefix: 'ct-';
// $width: 100%;
// $margin: 0 0 20px 0;
//
// // Fonts
// $heading-font-family: 'Helvetica';
// $heading-font-weight: bold;
// $heading-font-style: normal;
// $heading-font-size: 2.3rem;
// $heading-font-line-height: 17px;
// $heading-font-letter-spacing: 0px;
//
// $utility-font-family: 'Helvetica';
// $utility-font-weight: normal;
// $utility-font-style: normal;
// $utility-font-size: 1.5rem;
// $utility-font-line-height: 1.3;
// $utility-font-letter-spacing: 0px;
//
// @mixin heading-font {
//   font-family: $heading-font-family;
//   font-weight: $heading-font-weight;
//   font-style: $heading-font-style;
//   font-size: $heading-font-size;
//   line-height: $heading-font-line-height;
//   letter-spacing: $heading-font-letter-spacing;
// }
//
// @mixin utility-font {
//   font-family: $utility-font-family;
//   font-weight: $utility-font-weight;
//   font-style: $utility-font-style;
//   font-size: $utility-font-size;
//   line-height: $utility-font-line-height;
//   letter-spacing: $utility-font-letter-spacing;
// }
//
// // Color palettes
// $primary-color: #00A5FF;
// $primary-shade-1: #002D5A;
// $primary-shade-2: #D44820;
// $primary-shade-3: #96BE00;
// $primary-shade-4: #BE232D;
// $primaryShades: $primary-color, $primary-shade-1, $primary-shade-2, $primary-shade-3, $primary-shade-4;
//
// 
// $palette-count: 3;
// $palette-names: 'primary', 'alternate', 'schwarzweiß';
// $palettes: $primaryShades, $alternateShades, $grayscaleShades;
//
// // Other colors
// $color-black: #111111;
// $color-gray-dark: #3B444D;
// $color-gray-medium: #3B444D ;
// $color-gray-light: #5C666E;
// $color-white: #FFFFFF;
//
// $color-red: #DA161F;
// $color-orange: #FF6B00;
// $color-green: #50AA30;
// $color-blue: #29639C;
// $color-yellow: #F8E71C;
// $color-beige: #FFF8E7;
// $color-red-bright: #F90611;
// $color-annotation-mode: orangered;
//
// $axis-stroke-color: lighten($color-gray-medium, 35%);
// $axis-stroke-width: 1px;
// $axis-stroke-dasharray: 1, 3px;
// $line-stroke-width: 2.5px;
//
// $series-count-max: 5;
