// header styles

@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

header {
  z-index: 2000;
  height: 70px;
  background: linear-gradient(to top right, #0096fa 15%, $primary-color 85%);
}


.edit-indicator, .header-help {
  padding-left: 0.3em;
  color: $primary-color;
  @include interface-font-light;
  opacity: 0.2;
  @include transition (all 0.1s ease-out);
  cursor: pointer;
}
.old-input-slug-edit{
  visibility: hidden;

}

.input-slug-edit {
  overflow: visible;
  word-wrap: break-word;
  display: inline-block;
  background-color: transparent;
  border: 0px solid;
  width: 500px;
  color: $color-gray-dark;
  @include transition (width 0.1s);
  @include transition (all 0.1s ease-out);
  @include placeholder {
    color: $color-gray-medium;
  }
  &:focus {
    outline: none;
    border-color: $color-gray-light;
    @include placeholder {
      color: $color-gray-medium;
    }
    @include transition (all 0.1s ease-in);
  }
}

/*header:not(.header-edit)  */


.fliege {
  color: white;
  float: left;
  top: 17px;
  left: 30%;
  width: 70px;
  display: block;
  margin: auto;
  position: absolute;
}



.save-icon {
  display: inline-block;
  height: 1.4em;
  width: auto;
}

.header-new a, .header-list a{
 color: white;
 text-decoration: none;
 float: left;
 font-size: 1.5em;
   display: block;
  padding-top: 20px;
  padding-left: 10px;
/* padding: 15px;*/
/* text-transform: none;
  vertical-align: middle;*/
}

.header-nav{
  /*display: block;*/
/*  padding-top: 10px;
  padding-left: 10px;*/
  display: block;
}


.img-Kreuz{
  width: 15px;
  margin: 0px 13px 0px 13px;
  color: white;
}

.img-Archiv{
  width: 25px;
  margin: 0px 10px;
  color: white;
}


.chart-slug {
  // text-align: center;
  font-size: 1rem;
  color: $color-gray-medium;
  font-weight: 600px;
  font-family: "Noto Sans";
  // margin-bottom: 0px;
}

.chart-slug label{
display: inline-block;
// padding-top: 38px;
// margin-right: 1200px;
  }

