.loading {
  width: 100%;
  height: 7em;
  background-color: $color-gray-light;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.3rem;
    color: $color-gray-dark;
  }
}
