.chart-pdf, .print-export-preview-chart, .chart-print-export {
  display: inline-block;

  svg {
    fill: none;
  }

  .tip,
  .cursor,
  .focus,
  .overlay {
    display: none;
  }

  .#{$prefix}chart_svg {
position: relative;
bottom: 75px;
transform: scale(0.8);
left: -6%;
overflow: visible;
word-wrap: break-word;
  }

  .domain {
    display: none;
  }

  .#{$prefix}axis-group g.tick {
    fill: none;
  }

  .chart-wrapper{
  background: linear-gradient(
  -225deg,
  #cbd2d8, 
  $color-gray-light 30%
  );
  }

}

