// Helper styles

%button {
  display: inline-block;
  padding: 0.4em 0.8em;
  border: 1px solid $primary-color;
  border-radius: 0px;
  font-size: 1.4em;
  background-color: none;
  color: $primary-color;
  @include transition (all 0.1s ease-out);
  &:hover {
    cursor: pointer;
    background-color: $primary-color;
    color: white;
    @include transition (all 0.1s ease-in);
    a {
      color: #fff;
      @include transition (all 0.1s ease-out);
    }
  }
  a {
    color: $primary-color;
    text-decoration: none;
  }
}

%input {
  display: inline-block;
  padding: 0.35em 0.5em;
  border: 1px solid $color-black;
  border-radius: 0px;
  font-size: 1.2em;
  background-color: none;
  color: $color-gray-medium;
  @include transition (all 0.1s ease-out);
  @include placeholder {
    color: $color-gray-medium;
  }
  &:focus {
    cursor: pointer;
    color: $color-black;
    box-shadow: inset 0px 0px 0px 1px $color-gray-medium;
    outline: none;
    @include transition (all 0.1s ease-in);
    @include placeholder {
      opacity: 0.4;
    }
  }
}

.button {
  @extend %input;
  background: none;
  width: 100%;
  font-size: 1.8em;
  text-align: center;
  cursor: pointer;
  &:hover {
    color: $primary-color;
    border: 1px solid $primary-color;
  }
  &:active {
    color: white;
    background-color: $primary-color;
  }
}

.select-wrapper {
  position: relative;
  display: inline-block;
  &:after {
    @include user-select(none);
    pointer-events: none;
    content: "";
    height: 0;
    width: 0;
    @include triangle(10px 8px, $color-black, down);
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 10px;
    @include transition (all 0.1s ease-out);
  }
  &:hover:after {
    @include transition (all 0.1s ease-in);
    @include triangle(10px 8px, $primary-color, down);
  }
}




select::-ms-expand {
  display: none;
}

.help-toggle {
  color: $color-gray-dark;
  padding-left: 0.2em;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}
