@import './settings/settings';
@import '../../custom/custom';
@import '../../custom/base';
@import './components/header';
@import './components/axis';
@import './components/credit';
@import './components/annotations';
@import './components/tips';
@import './components/share_data';
@import './components/social';

@import './types/series-line';
@import './types/series-multiline';
@import './types/series-area';
@import './types/series-bar';
@import './types/series-column';
@import './types/series-scatterplot';
@import '../../custom/custom.scss';

.#{$prefix}bg {
	fill: none;
	display: inline-block;
}

.#{$prefix}graph {
transform: translate(0px, 0px);
	position: absolute;
width: 100%;
height: auto;
}

.#{$prefix}bar-label {
fill: #002D5A;
font-weight: 700;
}

.#{$prefix}chart_svg {
    overflow: visible;
    transform: scale(0.97);
    position: relative;
}

.#{$prefix}tip {
transform: translate(0,0);

}

.#{$prefix}chart {
  background-color: $color-gray-light;
  position: relative;
}
.#{$prefix}thumbnail {
  width: 100%;
}

.#{$prefix}base64img {
  display: none;
}


