.#{$prefix}type_area .#{$prefix}series_group .#{$prefix}line {

}

.#{$prefix}primary.#{$prefix}type_area .#{$prefix}line.#{$prefix}line-0 {

}

.#{$prefix}alternate.#{$prefix}type_area .#{$prefix}line.#{$prefix}line-0 {

}

.#{$prefix}type_area .#{$prefix}series_group.#{$prefix}multiple .#{$prefix}line {

}

.#{$prefix}series_group{
	fill: none;
}

@for $pcounter from 1 through $palette-count {
  $palette: nth( $palettes, $pcounter );
  $palette-name: nth( $palette-names, $pcounter );

  @for $counter from 1 through $series-count-max {
    .#{$prefix + $palette-name}.#{$prefix}type_area .#{$prefix}series_group .#{$prefix}fill.#{$prefix}fill-#{$counter - 1} {
      fill: nth( $palette, $counter );
    }
  }
}

