.#{$prefix}type_line .#{$prefix}line {
  fill: none;
    stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: $line-stroke-width;
}

/*.#{$prefix}-line-0 {
  stroke: $color-dunkelblau;
  stroke-width: 0.3rem;
   stroke-linecap: round;
  stroke-linejoin: round;
 
}*/

@for $pcounter from 1 through $palette-count {
  $palette: nth( $palettes, $pcounter );
  $palette-name: nth( $palette-names, $pcounter );
/*
  @for $counter from 1 through $series-count-max {
    .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}series_group .#{$prefix}line.#{$prefix}line-#{$pcounter - 1} {
      stroke: nth( $palette, $pcounter );
    }
*/


  .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}series_group .#{$prefix}line.#{$prefix}line-0 {
    stroke: nth( $palette, 1 );
  }

  .#{$prefix + $palette-name} .#{$prefix}chart_legend.#{$prefix}chart_legend-line .#{$prefix}legend_item_0 .#{$prefix}legend_item_icon {
    background: nth( $palette, 1 );
  }

  .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}tip .#{$prefix}tip_circle.#{$prefix}tip_circle-0 {
    fill: nth( $palette, 1 );
  }


  .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}series_group .#{$prefix}line.#{$prefix}line-1 {
    stroke: nth( $palette, 2 );
  }

  .#{$prefix + $palette-name} .#{$prefix}chart_legend.#{$prefix}chart_legend-line .#{$prefix}legend_item_1 .#{$prefix}legend_item_icon {
    background: nth( $palette, 2 );
  }

  .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}tip .#{$prefix}tip_circle.#{$prefix}tip_circle-1 {
    fill: nth( $palette, 2 );
  }


  .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}series_group .#{$prefix}line.#{$prefix}line-2{
    stroke: nth( $palette, 3 );
  }

  .#{$prefix + $palette-name} .#{$prefix}chart_legend.#{$prefix}chart_legend-line .#{$prefix}legend_item_2 .#{$prefix}legend_item_icon {
    background: nth( $palette, 3 );
  }

  .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}tip .#{$prefix}tip_circle.#{$prefix}tip_circle-2 {
    fill: nth( $palette, 3 );
  }

    .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}series_group .#{$prefix}line.#{$prefix}line-3 {
    stroke: nth( $palette, 4 );
  }

  .#{$prefix + $palette-name} .#{$prefix}chart_legend.#{$prefix}chart_legend-line .#{$prefix}legend_item_3 .#{$prefix}legend_item_icon {
    background: nth( $palette, 4 );
  }

  .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}tip .#{$prefix}tip_circle.#{$prefix}tip_circle-3 {
    fill: nth( $palette, 4 );
  }

    .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}series_group .#{$prefix}line.#{$prefix}line-4 {
    stroke: nth( $palette, 5 );
  }

  .#{$prefix + $palette-name} .#{$prefix}chart_legend.#{$prefix}chart_legend-line .#{$prefix}legend_item_4 .#{$prefix}legend_item_icon {
    background: nth( $palette, 5 );
  }

  .#{$prefix + $palette-name}.#{$prefix}type_line .#{$prefix}tip .#{$prefix}tip_circle.#{$prefix}tip_circle-4 {
    fill: nth( $palette, 5 );
  }



}

