.#{$prefix}type_column .#{$prefix}series_group .#{$prefix}column rect {

}

@for $pcounter from 1 through $palette-count {
  $palette: nth( $palettes, $pcounter );
  $palette-name: nth( $palette-names, $pcounter );

  @for $counter from 1 through $series-count-max {
    .#{$prefix + $palette-name}.#{$prefix}type_column .#{$prefix}series_group .#{$prefix}series-#{$counter - 1} .#{$prefix}column-#{$counter - 1} rect {
      fill: $primary-color;
    }
  }
}
