.#{$prefix}type_bar .#{$prefix}series_group .#{$prefix}bar rect {
  shape-rendering: crispEdges;
  color: $primary-color;

}

.#{$prefix}bar-label {
font-family: 'Noto Sans';
font-size: 1.5rem;
  font-weight: 700;
  dominant-baseline: middle;
  color: #002D5A;
  transform: translate(10px,0);
}



@for $pcounter from 1 through $palette-count {
  $palette: nth( $palettes, $pcounter );
  $palette-name: nth( $palette-names, $pcounter );

  @for $counter from 1 through $series-count-max {
    .#{$prefix + $palette-name}.#{$prefix}type_bar .#{$prefix}series_group .#{$prefix}bar-#{$counter - 1} rect {
      fill: nth( $palette, $counter );
    }
  }
}
