// Basic settings

$prefix: 'ct-';
$width: 100%;
$margin: 0 0 20px 0;

// Fonts
 $heading-font-family: 'DW TheAntiquaB';
 $heading-font-weight: 600; 
 $heading-font-style: normal;
 $heading-font-size: 2.3rem;
 $heading-font-line-height: 1.3;
 $heading-font-letter-spacing: 0px;

 $utility-font-family: 'Noto Sans';
 $utility-font-weight: normal;
 $utility-font-style: normal;
 $utility-font-size: 1.5rem;
 $utility-font-line-height: 1.3;
 $utility-font-letter-spacing: 0px;

@mixin heading-font {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  font-style: $heading-font-style;
  font-size: $heading-font-size;
  line-height: $heading-font-line-height;
  letter-spacing: $heading-font-letter-spacing;
}

@mixin utility-font {
  font-family: $utility-font-family;
  font-weight: $utility-font-weight;
  font-style: $utility-font-style;
  font-size: $utility-font-size;
  line-height: $utility-font-line-height;
  letter-spacing: $utility-font-letter-spacing;
}

// Color palettes
$primary-color: #00A5FF;
$primary-shade-1: #002D5A;
$primary-shade-2: #D44820;
$primary-shade-3: #96BE10;
$primary-shade-4: #BE232D; // vorher rot
$primary-shade-5: #002D5A;
$primary-shade-6: #002D5A;
$primaryShades: $primary-color, $primary-shade-1, $primary-shade-2, $primary-shade-3, $primary-shade-4, $primary-shade-5, $primary-shade-6;

$alternate-color: #002D5A;
$alternate-shade-1: #00A5FF;
$alternate-shade-2: #D44820;
$alternate-shade-3: #96BE10;
$alternate-shade-4: #BE232D;
$alternateShades: $alternate-color, $alternate-shade-1, $alternate-shade-2, $alternate-shade-3, $alternate-shade-4;

$grayscale-color: #000000;
$grayscale-shade-1: #383838;
$grayscale-shade-2: #6F6F6F;
$grayscale-shade-3: #A7A7A7;
$grayscale-shade-4: #dedede;
$grayscaleShades: $grayscale-color, $grayscale-shade-1, $grayscale-shade-2, $grayscale-shade-3, $grayscale-shade-4;

$palette-count: 3;
$palette-names: 'primary', 'alternate', 'grayscale';
$palettes: $primaryShades, $alternateShades, $grayscaleShades;

// Other colors
$color-black: #323C45;
$color-gray-dark: #3B444D;
$color-gray-medium: #5C666E;
$color-gray-light: #F1F3F5;
$color-white: #FFFFFF;

$color-hellblau: #00A5FF;
$color-dunkelblau: #002D5A;
$color-orangerot: #D44820;
$color-gruen: #96BE00;
$color-rot: #BE232D;
$color-gelb: #F0C80F;

$color-red: #BE232D;
$color-orange: #D44820;
$color-green: #50AA30;
$color-blue: #29639C;
$color-yellow: #F0C80F;
$color-beige: #FFF8E7;
$color-red-bright: #BE232D;
$color-annotation-mode: #002D5A;

 $axis-stroke-color: lighten($color-gray-medium, 35%);
 $axis-stroke-width: 1px;
 $axis-stroke-dasharray: 0px;
 $line-stroke-width: 0.3rem;

 $series-count-max: 5;
