 //mit settings.scss Farbeinstellung, die relevant sind!

 $prefix: 'ct-';
 $width: 100%;
 $margin: 0px 0 20px 0;

 //Fonts
 $heading-font-family: 'DW TheAntiquaB';
 $heading-font-weight: 600;
 $heading-font-style: normal;
 $heading-font-size: 2.3rem;
 $heading-font-line-height: 1.3;
 $heading-font-letter-spacing: 0px;

 $utility-font-family: 'Noto Sans';
 $utility-font-weight: normal;
 $utility-font-style: normal;
 $utility-font-size: 1.5rem;
 $utility-font-line-height: 1.3;
 $utility-font-letter-spacing: 0px;

 @mixin heading-font {
   font-family: $heading-font-family;
   font-weight: $heading-font-weight;
   font-style: $heading-font-style;
   font-size: $heading-font-size;
   line-height: $heading-font-line-height;
   letter-spacing: $heading-font-letter-spacing;
 }

 @mixin utility-font {
   font-family: $utility-font-family;
   font-weight: $utility-font-weight;
   font-style: $utility-font-style;
   font-size: $utility-font-size;
   line-height: $utility-font-line-height;
   letter-spacing: $utility-font-letter-spacing;
 }


 @font-face {
  font-family: 'DW TheAntiquaB';
  src: url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.eot'); /* IE9 Compat Modes */
  src: url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

 //Color palettes  #D44820;
 $primary-color: #002D5A;
 $primary-shade-1: #00A5FF;
 $primary-shade-2: #EB6E14;
 $primary-shade-3: #96BE00;
 $primary-shade-4: #F0C80F;
 $primary-shade-5: #BE232D;
 $primaryShades: $primary-color, $primary-shade-1, $primary-shade-2, $primary-shade-3, $primary-shade-4, $primary-shade-5;

 $grayscale-color: #d8dde2;
 $grayscale-shade-1: #bfc7ce;
 $grayscale-shade-2: #a1abb4;
 $grayscale-shade-3: #7f8891;
 $grayscale-shade-4: #5c666e;
 $grayscaleShades: $grayscale-color, $grayscale-shade-1, $grayscale-shade-2, $grayscale-shade-3, $grayscale-shade-4;

 $palette-count: 3;
 $palette-names: 'primary', 'alternate', 'grayscale';
 $palettes: $primaryShades, $alternateShades, $grayscaleShades;

$color-black: #323C45;
$color-gray-dark: #3B444D;
$color-gray-medium: #a1abb4;
$color-gray-light: #F1F3F5;
$color-background: #f1f3f5;
$color-white: #FFFFFF;

//dw- Farben von Frontify

 $color-red: #BE232D;
 $color-orange: #D44820;
 $color-green: #96BE00;
 $color-blue: #00A5FF;
 $color-yellow: #F0C80F;
 $color-beige: #FFF8E7;
 $color-red-bright: #F90611;
 $color-annotation-mode: #3B444D;

 $axis-stroke-color: lighten($color-gray-medium, 35%);
 $axis-stroke-width: 1px;
 $axis-stroke-dasharray: 0px;
 $line-stroke-width: 0.3rem;

 $series-count-max: 5;
