
$font-family-1: 'Noto Sans', sans-serif;
$font-bold: 400;


#header {
  margin: 0;
  border: 1px solid $colorRed;
  p {
    color: $colorRed;
    font: {
      size: 12px;
      weight: bold;
    }
  }
  a {
    text-decoration: none;
  }
}
/* Standardise the font-family names, add appropriate values for
weights and styles */

/* In variables partial */

/*@font-face {
    font-family: "DWTheAntiquaB";

    src:
         url("../fonts/DWTheAntiquaB_500.ttf") format("truetype"),
         url("../fonts/DWTheAntiquaB-W6SemiBold.woff2") format("woff2"),
         url("../fonts/DWTheAntiquaB-W6SemiBold.woff") format("woff"),
         url("../fonts/DWTheAntiquaB-W6SemiBold.otf") format("opentype"),
          font-weight: 600;
    font-style: normal;

}*/

 @font-face {
  font-family: 'DW TheAntiquaB';
  src: url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.eot'); /* IE9 Compat Modes */
  src: url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('https://m.dw.com/css-themes/mobile/webfonts/DWTheAntiquaB/DWTheAntiquaB-W6SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}


/*
@font-face {
    font-family: "DWTheAntiquaB";

    src:
         url("../fonts/DWTheAntiquaB-W6SemiBoldItalic.woff2") format("woff2"),
         url("../fonts/DWTheAntiquaB-W6SemiBoldItalic.woff") format("woff"),
         url("../fonts/DWTheAntiquaB_500_italic.ttf") format("truetype"),
         url("../fonts/DWTheAntiquaB-W6SemiBoldItalic.otf") format("opentype"),
    font-weight: 600;
    font-style: italic;
}*/

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
/* Then use elsewhere */

body {
  font-family: $font-family-1;
}

.media-heading {
  font-weight: $font-bold;
  /* Works as expected and does not generate a faux bold font */
}

.media-sub-heading {
  font-style: italic; // No need to declare another font or variable!
}
