@function ptToPx($pt) {
  $magic: 96 / 72;
  $val: ($pt * $magic) * 1px;
  @return ($val);
}

// base64 fonts go here

/*Beschreibung chart-pdf, print-export und export-preview-chart hier einfügen*/

.chart-pdf,
.print-export-preview-chart,
.chart-print-export {

  .#{$prefix}chart_title {
    font-size: 2.3rem;
    margin: 0px;
    padding: 30px;
    line-height: 1.3;
    background-image: url("/images/fliege.svg");
    background-repeat: no-repeat;
    background-position: 30px 30px;
    background-size: 6%;
  }

  .#{$prefix}chart_title-text {
    font-size: 2.3rem;
    color: $color-dunkelblau;
    position: absolute;
    bottom: 10%;
    left: 5%;
    padding: 5%;
  }

  .#{$prefix}chart_qualifier {
    box-sizing: border-box;
    display: block;
    padding-top: 0px;
    @include utility-font;
    color: $color-gray-medium;
    font-size: 1.5rem;
    line-height: 1.3;
    visibility: hidden;
  }

  .#{$prefix}chart_source {
    font-size: 1.3rem;
    display: block;
    color: $color-gray-medium;
    padding-bottom: 0px;
    margin: 30px;
    line-height: 1.3;
    @media(min-width: 420px) {
      width: auto;
    }
  }

  .#{$prefix}chart_source-text {
    position: absolute;
    right: 5%;
    bottom: 5%;
  }

  .#{$prefix}chart_legend {
    padding: 0;
    margin: 0;
    display: block;
  }

  .#{$prefix}chart_legend .#{$prefix}legend_item {
    margin: 0;
    padding-right: 8px;
    line-height: 1.3;
    white-space: nowrap;
  }

  .#{$prefix}chart_legend .#{$prefix}legend_item .#{$prefix}legend_item_icon {
    margin-top: 0px;
    height: 6px;
    width: 6px;
    border-radius: 0px;
    margin-right: 3px;
  }

  .#{$prefix}chart_legend .#{$prefix}legend_item .#{$prefix}legend_item_text {
    color: $color-gray-dark;
    font-size: 1.5rem;
  }

  // axes

  .#{$prefix}axis-group .#{$prefix}minor line {
/*    stroke: $color-black;
    stroke-dasharray: 0.01, ptToPx(1.7);
    stroke-width: ptToPx(0.5);*/
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .#{$prefix}axis-group g.tick line {
/*    stroke: $color-black;
    stroke-width: ptToPx(0.5);*/
    fill: none;
    font-size: 1.3rem;
    stroke-linecap: square;
  }

  .#{$prefix}zero-line {
    fill: none;
    stroke: $color-black;
    stroke-width: 0;
  }

  .#{$prefix}y-axis g.tick text {
 /*   text-anchor: end !important;*/
  }

  .#{$prefix}axis-group path {
    shape-rendering: crispEdges;
    stroke: $color-black;
  }

  .#{$prefix}axis-group text,
  .#{$prefix}bar-label,
  .#{$prefix}annotation_text {
    font-size: 1.5rem;
    color: $color-gray-medium;
    fill: $color-black;
    font-kerning: none;
  }

  .#{$prefix}annotation_text {
    paint-order: stroke;
    stroke: $color-white;
    stroke-width: ptToPx(1.0);
    stroke-linecap: round;
    stroke-linejoin: round;
    text-shadow: none;
  }

  .#{$prefix}series_group .#{$prefix}line,
  .#{$prefix}series_group .#{$prefix}line.#{$prefix}line-1 {
    stroke-width: ptToPx(1.0) !important;
  }

  .#{$prefix}series_group .#{$prefix}line:only-of-type {
    stroke-width: ptToPx(1.0);
  }

  .major-tick line {
/*    stroke: $color-black;
    stroke-width: ptToPx(0.5);*/
  }

  .#{$prefix}type_column .#{$prefix}series_group .#{$prefix}column rect,
  .#{$prefix}type_bar .#{$prefix}series_group .#{$prefix}bar rect {
    /*stroke-width: ptToPx(0.5);*/
  }



.#{$prefix}type_bar .#{$prefix}yAxis g.tick text{
  transform: translate(4px,13px);
} 

  .#{$prefix}pointer-path {
    stroke-width: ptToPx(0.5);
  }

  .#{$prefix}annotation_range-line {
    stroke-width: ptToPx(1.0);
  }

}
